:root{
  --bg-top: rgba(0,150,136,255);
  --bg-bottom: rgba(214,219,216,255);
  --grey-head: rgba(234,234,234,255);
  --azur-color: rgba(142,218,252,255);
  --light-grey: rgba(250,250,250,255);
  --dark-grey: rgba(177,177,177,255);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITIES */
.flex{
  display: flex;
}

.center{
  justify-content: center;
  align-items: center;
}

.j-c-between{
  justify-content: space-between;
}

.j-c-around{
  justify-content: space-around;
}

.debug{
  border: 1px solid black;
}

.bg-white{
  background-color: white;
}

.in{
  width: 100%;
  height: 100%;
}

.b-r{
  border-radius: 50%;
}

.icons{
  color: var(--dark-grey);
  font-size: 1.5rem;;
  width: 35%;
}

/*GENERAL*/
main{
  height: 100vh;
  background: linear-gradient(
    to top,
    #d9dbd5 80%,
    #009688 20%
  );
}

.conteiner{
  width: 1300px;
  height: 800px;
}

/* MAIN */

/* my boxes */

.row.head{
  background-color: var(--grey-head);
  height: 8%;
  width: 100%;
}

.row.foot{
  height: 92%;
  width: 100%;
}

.col.left{
  width: 30%;
  height: 100%;
}

.col.right{
  width: 70%;
  height: 100%;
}

.col.left.down{
  background-color: var(--light-grey);
}

  /* col left*/

.notice{
  height: 13%;
  background-color: var(--azur-color);
}

.search-cont{
  height: 8%;
}

.search{
  width: 95%;
  height: 80%;
}

.chat-section{
  height: 79%;
  overflow-y: scroll;
}
.chat{
  width: 100%;
  height: 15%;
}

  /*col right */

.talk-section{
  background-image: url(../img/mine.jpg);
  height: 87%;
  width: 100%;
  overflow-y: scroll;
}

.write-section{
  height: 13%;
  background-color: var(--light-grey);
}


/* CONTENETS */

.avatar{
  width: 55px;
  height: 55px;
  overflow: hidden;
}

